stages:
  - build
  - test

build:
  stage: build
  image: python:3.11
  script:
    - pip install -r requirements.txt

test:
  stage: test
  image: python:3.11
  script:
    - pip install -r requirements.txt
    - pytest
